@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: #0D0D0D;
}
header{
    background-image: url('./tomb-raider-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 8.5rem;
    text-align: right;
}
#titulo{
    font-size: 3.4rem;
    font-family: 'Bebas Neue', 'Verdana';
    color: #73020C;
    padding-top: 3rem;
    padding-left: 101rem;
}
main{
    display: inline-block;
    color: #73020C;
    justify-content: center;
    align-items: center;
    padding-left: 36rem;
    font-family: 'Bebas Neue', 'Verdana';
}
#nome{
    font-size: 4rem;
    padding-bottom: 2rem;
    padding-top: 28rem;
}
#situacao{
    font-size: 3.4rem;
    padding-bottom: 3.4rem;
}
.myButton{
    width: 33rem;
    height: 3.4rem;
    background-color: #0D0D0D;
    font-family:'Bebas Neue', 'Verdana';
    color: #73020C;
    font-size: 2rem;
    border: groove #73020C;
}
.myButton:hover{
    background-color: #F2EEB6;
    border: none;
}
#troca-img{
    padding-top: 17rem;
    position: absolute;
    padding-left: 1rem;
    
}
@media(max-width:1440px) {
    header{
        height: 9rem;
    }
    #titulo{
        padding-left: 10rem;
    }
    main{
        padding-left: 23rem;
    }
    #nome{
        font-size: 4rem;
        padding-top: 18rem;
    }
    #troca-img{
        width: 15rem;
        height: 20rem;
        padding-top: 15rem;
    }
}
@media(max-width:1366px) {
    header{
        height: 9rem;
    }
    #titulo{
        padding-left: 10rem;
    }
    main{
        padding-left: 18rem;
    }
    #nome{
        font-size: 4rem;
        padding-top: 11rem;
    }
    #troca-img{
        width: 15rem;
        height: 20rem;
        padding-top: 8rem;
    }
}
@media(max-width:1280px) {
    #titulo{
        padding-left: 10rem;
    }
    main{
        padding-left: 15rem;
    }
    #nome{
        font-size: 4rem;
        padding-top: 11rem;
    }
    #troca-img{
        width: 15rem;
        height: 20rem;
        padding-top: 8rem;
    }
}
@media(max-width:768px) {
    header{
        height: 8.5rem;
    }
    #titulo{
        font-size: 2rem;
        padding-bottom: 3rem;
        padding-left: 35rem;
    }
    main{
        padding-left: 10rem;
    }
    #nome{
        font-size: 2rem;
        padding-top: 19rem;
        padding-bottom: 1rem;
    }
    #situacao{
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .myButton{
        width: 12rem;
        height: 2rem;
        font-size: 1rem;
    }
    #troca-img{
        width: 15rem;
        height: 20rem;
    }
}
@media (max-width:425px) {
    header{
        height: 8rem;
    }
    #titulo{
        font-size: 2rem;
        padding-left: 13rem;
        padding-top: 3rem;
    }
    main{
        padding-left: 2rem;
    }
    #nome{
        font-size: 2rem;
        padding-top: 20rem;
    }
    #troca-img{
        width: 11rem;
        height: 15rem;
        padding-left: 1rem;
        padding-top: 15rem;
    }
}
@media (max-width:375px) {
    header{
        height: 8rem;
    }
    #titulo{
        font-size: 2rem;
        padding-left: 13rem;
        padding-top: 3rem;
    }
    main{
        padding-left: 1rem;
    }
    #nome{
        font-size: 2rem;
        padding-top: 14rem;
    }
    #troca-img{
        width: 10rem;
        height: 14rem;
        padding-left: 0.3rem;
    }
}